.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    padding: 20px 20px;
    letter-spacing: 0.25rem;
    border-bottom: 1px solid #CABE9F;
    height: 10vh;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    user-select: none;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar ul li a{
    display: inline-block;
    color: #000;
    transition: .3s;
    text-decoration: none;
    padding: 0 15px;
    font-weight: medium;
}
.navbar ul li a:hover{
    color: #CABE9F;
}
.header-btn{
    color: #CABE9F;
    padding: 12px 30px;
    border: 1px solid #CABE9F;
    cursor: pointer;
    background-color: #fff;
    transition: .3s;
    font-weight: bold;
}
.header-btn:hover{
    color: #000;
    background-color: #CABE9F;
}